<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <label for="">username</label>
        <input name="username" type="text">
        <label for="">mobile</label>
        <input name="mobile" type="text">
        <label for="">email</label>
        <input name="email" type="text">
        <label for="">address</label>
        <input name="address" type="text">
        <label for="">password</label>
        <input name="password" type="text">
        <button>submit</button>

    </form>

    
</body>
</html>